/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h5,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/*  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/banner-flowers.jpg') top left/cover no-repeat;  */
/* Variables */
/*  Mixins */
/* Less Stuff */
html,
body {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 280%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin: 0 6vw;
  height: 90vh;
  background-color: rgba(148, 147, 151, 0.384);
}
header div.headCon {
  margin: 0 6vw;
  height: 40vh;
  background-color: rgba(150, 150, 158, 0.582);
}
header div.headCon > .banner-text h1 {
  color: green;
  margin-left: 200px;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}
header div.headCon > .banner-text h2 {
  margin-left: 70px ;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}
header div.headCon .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h3 {
  margin-left: 388px;
  margin-right: 75px;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}
header .banner > div.headCon.banner img {
  margin: 0;
  justify-content: left ;
}
/* Desktop t0 be written over */
/*Header Container        */
.banner > div.bandCon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100%;
  margin-right: 6vw;
}
.band > div.banner-item > button {
  font-size: 1.7rem;
  text-shadow: 2px 4px 6px blue;
  font-weight: bold;
  color: green;
  width: 130px;
  background-color: rgba(255, 0, 0, 0.927);
}
div.bandCon > div.band {
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  width: 46vw;
  height: 13vh;
  background-color: rgba(24, 172, 218, 0.219);
  border: 2px solid black;
}
.band > .banner-item {
  display: flex;
  justify-content: right;
}
/*Bottom Header Container */
.bottom-header {
  margin: 0 6vw;
  height: 40vh;
  background-image: repeating-linear-gradient(rgba(196, 182, 182, 0.884), #dfdfc6 10%, rgba(188, 196, 188, 0.644) 20%);
  /* Other bottom-header Break Points */
}
.bottom-header button {
  box-shadow: 2px 1px 4px blue;
  font-weight: bolder;
  text-shadow: 2px 4px 3px  red ;
  font-size: 1.7rem;
  margin-left: 200px;
  background-color: green;
  height: 7vh;
  width: 19vw;
}
.bottom-header p {
  font-size: 1.2rem;
  margin-left: 220px;
  margin-right: 120px;
}
/* Two collumns up  */
.two-call {
  margin-left: 11vw;
  display: flex;
  flex-direction: row;
}
.two-call .two-call-con {
  margin-left: 4vw;
  width: 35vw;
  height: 45vh;
  /*The skills table */
}
.two-call .two-call-con table {
  margin: 0em;
  width: 100%;
  height: 100%;
}
.two-call .two-call-con table,
.two-call .two-call-con th,
.two-call .two-call-con td {
  border: 1px solid black;
  border-collapse: collapse;
}
.two-call .two-call-con th,
.two-call .two-call-con td {
  padding: 15px;
  text-align: left;
}
.two-call .two-call-con table.t01 tr:nth-child(even) {
  background-color: #eee;
}
.two-call .two-call-con table.t01 tr:nth-child(odd) {
  background-color: #fff;
}
.two-call .two-call-con table.t01 th {
  background-color: black;
  color: white;
}
/* The work history Row */
#workHistory {
  display: flex;
  flex-direction: column;
}
#workHistory h2 {
  margin-left: 16vw;
}
#workHistory table {
  margin: 1em 0em 0em 7em;
  width: 70%;
  height: 100%;
}
#workHistory table,
#workHistory th,
#workHistory td {
  border: 1px solid black;
  border-collapse: collapse;
}
#workHistory th,
#workHistory td {
  padding: 15px;
  text-align: left;
}
#workHistory table.t01 tr:nth-child(even) {
  background-color: #eee;
}
#workHistory table.t01 tr:nth-child(odd) {
  background-color: #fff;
}
#workHistory table.t01 th {
  background-color: black;
  color: white;
}
table.workCon {
  width: 80vw;
  height: 50vh;
}
/*  Elements */
/* Margin, table width, table height  */
/* Bottom Footer  */
footer {
  display: flex;
  flex-direction: column;
  align-self: center;
}
footer div#footNav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18vh;
  width: 68vw;
  height: 20vh;
  background-color: grey;
}
footer div#footNav a {
  text-shadow: 1px 3px 4px blue;
  line-height: 0.7rem;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline wavy red;
  height: 0%;
}
/* Classes */
.blinking {
  font-size: 1.5rem;
  animation: blinkingText 1.2s infinite;
}
@keyframes blinkingText {
  12% {
    color: #df3535;
  }
  49% {
    color: #f07523;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #f02684;
  }
  /* Breakpoints for blinking*/
}
