// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h5 , p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
//  rgba(241, 227, 227, 0.925);
//  rgb(188, 185, 209);
/*  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/banner-flowers.jpg') top left/cover no-repeat;  */





/* Variables */
@body-color: white;
@header-color: rgba(148, 147, 151, 0.384);
@bottomH-color:  repeating-linear-gradient(rgba(196, 182, 182, 0.884), rgb(223, 223, 198) 10%, rgba(188, 196, 188, 0.644) 20%);
@bH: repeating-radial-gradient(red, yellow 10%, green 15%);
@bhG:  radial-gradient(red, yellow, green);



/* Screen Settings */
@wide-screen-down: ~'(max-width: 4199px)';
@desktop-down: ~'(max-width: 1991px)';
@tablet-down: ~'(max-width: 1267px)';
@phone-down: ~'(max-width: 780px)';
@small-phone-down: ~'(max-width: 520px)';

@mobileFnt:'Monoton', cursive;


//@desk1375: ~'(max-width:1375px)';
//@mobile798: ~'(max-width:798px)';


/*  Mixins */

.thebody(){
	display:flex;
	flex-direction: column;
	background-color: @body-color;
	height: 310%;

}
.header(){
	
	margin: 0 6vw; 
	height: 90vh;
	background-color:@header-color;
	
}

.bottom-header(){

	margin: 0 6vw; 
	height: 40vh;
	background-image:@bottomH-color;
}

// is the responsive control for blinking text in navigator

.blink-res(@wide, @desk, @tab, @mob ){
	@media @wide{font-size:12.6rem;}
	@media @desk{font-size:12.4rem;}
	@media @tab{font-size:12rem;}
	@media @mob{font-size:13rem;}
}





/* Less Stuff */
html, body {
	.thebody();

}



header{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	.header();
	
	div.headCon{
	margin: 0 6vw; 
	height: 40vh;
	background-color: rgba(150, 150, 158, 0.582);
	}

// The Headings Text Name & What you do or something cleaver 
	div.headCon > .banner-text h1 {
		
			//margin-left:55px;
			color:green;
		margin-left: 200px;
		text-shadow: 2px 2px 6px #000;
		text-align: center;
	  }

	  div.headCon > .banner-text h2 {
		margin-left:70px ;
		text-shadow: 2px 2px 6px #000;
		text-align: center;
	  }
	  

	  div.headCon .banner{
	//	height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }

	  // Below the center area with text
	  // What you do as a hired personal
	  .banner {
		height: 300px;
		display: flex;
		justify-content: center;
		align-items: center;
	  }


	   h3 {
		margin-left: 388px;
		margin-right:75px;
		text-shadow: 2px 2px 6px #000;
		text-align: center;
	  }

	  // Attempt to add image to side of innner banner 
	  .banner > div.headCon.banner{
		  img{
			  margin:0;
			  justify-content:left ;
		  }

	  }
	  
	  


	
}


/* Desktop t0 be written over */
/*Header Container        */
// Outter shell of Navigation bar
.banner > div.bandCon{
	// Use block display margin-left instead to get extra room for another container at the top like a marque scroll
	// Puts the navbar in the upper right corner
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
  height: 100%;
  margin-right:6vw;
	
}
// Navigation Bar Button Styles
.band > div.banner-item > button{
	font-size:1.7rem;
	text-shadow: 2px 4px 6px blue;

	font-weight: bold;
	color:green;
	width:130px;
	background-color: rgba(255, 0, 0, 0.927);
}
// The actual Navbar Flex configurations will move the navbar buttons
   div.bandCon > div.band{
	display: flex;
	flex-direction: row-reverse;
	
	//align-self: right;
	  box-sizing: border-box;
	width:46vw;
	height:13vh;
	background-color: rgba(24, 172, 218, 0.219);
	border:2px solid black;
  }
  .band > .banner-item{
	display: flex;
	justify-content:right;
	//align-items: right;
  }


/*Bottom Header Container */
.bottom-header{
	.bottom-header();
	button{
		box-shadow: 2px 1px 4px blue;
		font-weight:bolder;
		text-shadow: 2px 4px 3px  red ;
		font-size:1.7rem;
		margin-left:200px;
		background-color: green;
		height:7vh;
		width:19vw;
	}
	p{
		text-shadow: 2px 3px 2px black;
		color: rgba(32, 116, 32, 0.774);
		font-family: 'Frijole', cursive;
		font-size:2rem;
		margin-left:220px;
		margin-right:120px;

	}


	/* Other bottom-header Break Points */
}


/* Two collumns up  */
.two-call{
margin-left: 11vw;
	display: flex;
	flex-direction: row;
	.two-call-con{
		margin-left:4vw;
		width: 35vw;
		height: 45vh;
		/*The skills table */
			.table(0em,100%,100%);
		
	}
}


/* The work history Row */
#workHistory{
	
	display:flex;
	flex-direction: column;
	h2{
		margin-left:16vw;
	}
	.table(6em 0em 0em 7em,70%,100%);
}

table.workCon{
	
	width:80vw;
	height: 50vh;
}
/*  Elements */
/* Margin, table width, table height  */
.table(@tableMargin,@tableW, @tableH){
    table {
	margin:@tableMargin;
  width:@tableW;
  height: @tableH;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table.t01 tr:nth-child(even) {
  background-color: #eee;
}
table.t01 tr:nth-child(odd) {
 background-color: #fff;
}
table.t01 th {
  background-color: black;
  color: white;
}
}

/* Bottom Footer  */
footer{
	
	display: flex;
	flex-direction: column;
	align-self: center;
	div#footNav{
		box-shadow: 2px 3px 4px black;
		border: .09em solid blue;
		display: flex;
			align-items: center;
			justify-content: center;
		margin-top:28vh;
		width:68vw;
		height:20vh;
		background-color: grey;
		a{
			text-shadow: 1px 3px 4px blue;
			line-height: .7rem;
			font-weight: bold;
			font-size:2rem;
			text-decoration: underline wavy red;
			
			height:0%;
		}

	}
}
/* Blinkings font-breakpoints */
@bp1: ~'(max-width: 2000px)';
@bp2: ~'(max-width: 1000px)';
@bp3: ~'(max-width: 700px)';


/* Classes */
.blinking{
	
	//font-size: 1.5rem;
	animation:blinkingText 1.2s infinite;
		
		
	.blink-res(@bp1, @bp2, @bp3, @bp3 );




}





@keyframes blinkingText{
    12%{     color: rgb(223, 53, 53);    }
    49%{    color: rgb(240, 117, 35); }
    60%{    color: transparent; }
    99%{    color:transparent;  }
	100%{   color: rgb(240, 38, 132);    }



}
















